---
title: Recent Activity
---

<!-- Page heading -->
<div class="container-fluid bg-dark fg-light page-heading mb-0 py-5">
  <h1 class="text-center">Recent Activity</h1>
</div>

<!-- Latest post -->
{% assign latest = site.posts | first %}
<section class="container main-section">
  <h2 class="site-heading">Latest Post</h2>
  <div class="container my-3">
    <div class="row row-cols-1 position-relative featured-item text-secondary-emphasis mt-4 mb-3 px-3 py-4">
      <a href={{ latest.url | relative_url }} class="stretched-link"></a>
      <div class="col">
        <p class="fs-4 fw-bold mb-0">{{ latest.title }}</p>
        <p class="my-0">Written by Daniel Fletcher</p>
        <p class="fw-light mt-0"><small>{{ latest.date | date_to_long_string }}</small></p>
        <p>{{ latest.excerpt }}</p>
        <i class="fa-solid fa-ellipsis mb-4"></i>
      </div>
    </div>
  </div>
</section>

<!-- Post history -->
<section class="container main-section">
  <h2 class="site-heading">Post History</h2>
  <div class="row row-cols-1 mx-auto my-3 d-flex justify-content-center">
    {% for post in site.posts %}
      {% if post != latest %}
        <div class="col m-3 ps-3 pe-4 py-3 project-item">
          <a href={{ post.url | relative_url }} class="stretched-link"></a>
          <div>
            <p class="fs-5 fw-bold mb-0">{{ post.title }}</p>
            <p><small class="fw-light text-body-secondary">{{ post.date | date_to_string }}</small></p>
          </div>
          <p>{{ post.excerpt }}</p>
          <i class="fa-solid fa-ellipsis mb-4"></i>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</section>