---
title: Certifications
---

<!-- Page heading -->
<div class="container-fluid bg-dark fg-light page-heading mb-2 py-5">
  <h1 class="text-center">Certifications</h1>
</div>

<!-- Certifications by section -->
{% for cert_type in site.data.certifications %}
  <section class="container main-section text-center">
    <h2 class="site-heading">{{ cert_type.title }}</h2>
    <p class="site-subheading">{{ cert_type.subtitle }}</p>
    {% assign certs = cert_type.certs | sort: "date" | reverse %}
    {% for cert in certs %}
      <div class="row row-cols-1">
        <div class="col">
          <p class="fs-5 fw-bold mb-0">
            <a class="external-link text-decoration-none" href={{ cert.link }} target="_blank">
              <span class="text-decoration-underline">{{ cert.name }}</span>
              <i class="fa-solid fa-up-right-from-square"></i>
            </a>
          </p>
          {% assign shortened_date = cert.date | date_to_long_string | split: " " | shift | join: " " %}
          <p class="mb-1">Awarded by {{ cert.org }} • {{ shortened_date }}</p>
        </div>
      </div>
      <div class="row row-cols-1 mb-3">
        <div class="col">
          <ul class="list-unstyled mt-1">
            {% assign sorted_skills = cert.skills | sort %}
            {% for skill in sorted_skills %}
              <li class="badge bg-primary pill-rounded fw-normal">{{ skill }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endfor %}
  </section>
{% endfor %}

<!-- Placeholder for spacing -->
<div class="container-fluid my-3 py-3"></div>