---
title: Certifications
---

<!-- Page heading -->
<div class="container-fluid bg-dark fg-light page-heading mb-2 py-5">
  <h1 class="h1 fw-bold text-center">Certifications</h1>
</div>

<!-- Certifications by section -->
{% for cert_type in site.data.certifications %}
  <section class="container-fluid main-section">
    <h2 class="{{ site.subheading }}">{{ cert_type.title }}</h2>
    {% assign certs = cert_type.certs | reverse %}
    {% for cert in certs %}
      <div class="row row-cols-2">
        <div class="col">
          <p class="fs-5 fw-bold mb-0">
            <a class="external-link text-decoration-none" href={{ cert.link }} target="_blank">
              <span class="text-decoration-underline">{{ cert.name }}</span>
              <i class="fa-solid fa-up-right-from-square"></i>
            </a>
          </p>
          <p class="fs-6 mb-1">Awarded by {{ cert.org }}</p>
        </div>
        <div class="col text-end">
          <p class="fs-5 fw-light">{{ cert.date }}</p>
        </div>
      </div>
      <div class="row row-cols-1 mb-3">
        <div class="col">
          <ul class="list-unstyled mt-1">
            {% assign sorted_skills = cert.skills | sort %}
            {% for skill in sorted_skills %}
              <li class="badge bg-primary pill-rounded fw-normal">{{ skill }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endfor %}
  </section>
{% endfor %}

<!-- Placeholder for spacing -->
<div class="container-fluid my-3 py-3"></div>