---
title: Professional Credentials
subheading: "h2 fw-bold pb-1"
---

<!-- Page heading -->
<div class="container-fluid bg-dark fg-light page-heading mb-2 py-5">
  <h1 class="h1 fw-bold text-center">Professional Credentials</h1>
</div>

<!-- Education -->
<div class="container-fluid mb-5">
  <h2 class="{{ page.subheading }}">Education</h2>
  {% for item in site.data.credentials.education %}
    <div class="row row-cols-2">
      <div class="col">
        <p class="fw-bold mb-0">{{ item.university }}</p>
        <p class="mb-1">{{ item.degree }}, {{ item.major }}</p>
      </div>
      <div class="col text-end">
        <p class="fw-light">{{ item.start }} &ndash; {{ item.end }}</p>
      </div>
    </div>
    <div class="row row-cols-1">
      <div class="col">
        <ul class="list-unstyled mt-1 mb-3">
          {% assign sorted_skills = item.skills | sort %}
          {% for skill in sorted_skills %}
            <li class="badge pill-rounded bg-secondary fw-light">{{ skill }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endfor %}
</div>

<!-- Experience -->
<div class="container-fluid mb-5">
  <h2 class="{{ page.subheading }}">Experience</h2>
  {% for item in site.data.credentials.experience %}
    <div class="row row-cols-2">
      <div class="col">
        <p class="fw-bold mb-0">{{ item.position }}</p>
        <p class="mb-1">{{ item.company }}</p>
      </div>
      <div class="col text-end">
        <p class="fw-light">{{ item.start }} &ndash; {{ item.end }}</p>
      </div>
    </div>
    <div class="row row-cols-1">
      <div class="col">
        <ul class="list-unstyled mt-1 mb-3">
          {% assign sorted_skills = item.skills | sort %}
          {% for skill in sorted_skills %}
            <li class="badge pill-rounded bg-secondary fw-light">{{ skill }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="row row-cols-1 mb-4">
      <div class="col">
        <ul>
          {% for highlight in item.highlights %}
            <li>{{ highlight }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endfor %}
</div>

<!-- Certifications -->
<div class="container-fluid mb-5">
  <h2 class="{{ page.subheading }}">Certifications</h2>
  {% assign certifications_reversed = site.data.credentials.certifications | reverse %}
  {% for item in certifications_reversed %}
    <div class="row row-cols-2">
      <div class="col">
        <p class="fw-bold mb-0">{{ item.name }}</p>
        <p class="mb-1">{{ item.organization.name }}</p>
      </div>
      <div class="col text-end">
        <p class="fw-light">{{ item.date }}</p>
      </div>
    </div>
    <div class="row row-cols-1 mb-4">
      <div class="col">
        <ul class="list-unstyled mt-1 mb-3">
          {% assign sorted_skills = item.skills | sort %}
          {% for skill in sorted_skills %}
            <li class="badge pill-rounded bg-secondary fw-light">{{ skill }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endfor %}
</div>

<!-- External documents -->
<div class="container-fluid mb-5">
  <h2 class="{{ page.subheading }}">External Documents</h2>
  <p>For PDF copies of my professional résumé and CV, please see the links below. Each link will, in a new tab, open a publicly-shared file on Google Drive.</p>
  <div class="d-flex align-items-center gap-3">
    <a href="#" class="btn btn-secondary text-white">Résumé</a>
    <a href="#" class="btn btn-secondary text-white">CV</a>
  </div>
</div>