---
title: Links & Profiles
subheading: "h2 fw-bold mb-1 pt-0"
---

<!-- Page heading -->
<div class="container-fluid bg-dark fg-light page-heading mb-0 py-5">
  <h1 class="h1 fw-bold text-center">Links & Profiles</h1>
</div>

<!-- Links by section -->
{% for link_type in site.data.links %}
  <section class="container-fluid main-section">
    <h2 class="{{ page.subheading }}">{{ link_type.title }}</h2>
    <p class="fs-5 fw-light mt-0 mb-4">{{ link_type.subtitle }}</p>
    <div class="row row-cols-1">
      {% for item in link_type.items %}
        <div class="col mb-4">
          <p class="fs-4 fw-bold my-0"><i class="{{ item.icon }}"></i> {{ item.name }}</p>
          <p class="fs-5">
            {% if item.is_external_link %}
              <a class="external-link text-decoration-none" href={{ item.link }} target="_blank">
                <span class="text-decoration-underline">{{ item.display }}</span>
                <i class="fa-solid fa-up-right-from-square"></i>
              </a>
            {% else %}
              <a class="external-link" href={{ item.link }}>
                {{ item.display }}
              </a>
            {% endif %}
          </p>
        </div>
      {% endfor %}
  </section>
{% endfor %}