---
title: Project Work
---

<!-- Helper variables -->
{% assign featured_projects = site.projects | where: "featured", true | sort: date | reverse %}
{% assign all_projects = site.projects | sort: date | reverse %}

<!-- Page heading -->
<div class="container-fluid bg-dark fg-light page-heading mb-0 py-5">
  <h1 class="h1 fw-bold text-center">{{ page.title }}</h1>
</div>

<!-- Featured projects -->
<section class="container-fluid main-section">
  <h2 class="{{ site.subheading }}">Featured Projects</h2>
  <div class="container d-flex flex-column align-items-center mb-3">
    {% for project in featured_projects %}
      <div class="row featured-item">
        <div class="col-lg-4 d-flex justify-content-center align-items-center">
          <img src="{{"/assets/img/proj-previews/" | relative_url}}{{ project.img_src }}" 
               class="img-fluid rounded mb-4 mb-lg-0 shadow" 
               alt="{{ project.img_alt }}">
        </div>
        <div class="col-lg-8">
          <div class="d-flex justify-content-between">
            <div>
              <p class="fs-4 fw-bold mb-0">{{ project.title }}</p>
              {% assign shortened_date = project.date | date_to_string | split: " " | shift | join: " " %}
              <p class="fw-light text-body-secondary mt-0">Last updated {{ shortened_date }}</p>
            </div>
            <ul class="list-unstyled text-end fs-5">
              {% for skill in project.skills %}
                <li class="badge bg-primary pill-rounded fw-normal">{{ skill }}</li>
              {% endfor %}
            </ul>
          </div>
          <p class="fs-5 mb-5">{{ project.desc }}</p>
          <div class="d-flex d-lg-block justify-content-center">
            <a href={{ project.url | relative_url }} class="btn btn-outline-dark fs-5 px-4">Project Page</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>

<!-- Project history -->
<section class="container-fluid main-section">
  <h2 class="{{ site.subheading }}">Project History</h2>
  <div class="row row-cols-1 row-cols-xl-2 mx-2 my-3">
    {% for project in all_projects %}
      <div class="col-11 col-xl-5 mx-auto ms-xl-0 me-xl-5 my-2 ps-3 pe-4 py-3 project-item">
        <a href={{ project.url | relative_url }} class="stretched-link"></a>
        <div class="d-flex justify-content-between align-items-start">
          <div>
            {% assign shortened_date = project.date | date_to_string | split: " " | shift | join: " " %}
            <p class="fs-5 mb-0">{{ project.title }}</p>
            <p><small class="fw-light text-body-secondary">{{ shortened_date }}</small></p>
          </div>
          <div>
            <p class="fs-1 fw-bold"><i class="{{ project.icon }}"></i></p>
          </div>
        </div>
        <p>{{ project.desc }}</p>
      </div>
    {% endfor %}
  </div>
</section>