---
title: Project Work
---

<!-- Helper variables -->
{% assign featured_projects = site.projects | where: "featured", true | sort: "featured_key" %}
{% assign all_projects = site.projects | sort: date | reverse %}

<!-- Page heading -->
<div class="container-fluid bg-dark fg-light page-heading mb-0 py-5">
  <h1 class="text-center">{{ page.title }}</h1>
</div>

<!-- Featured projects -->
<section class="container main-section">
  <h2 class="site-heading text-center">Featured Projects</h2>
  <div class="container d-flex flex-column align-items-center mb-3">
    {% for project in featured_projects %}
      <div class="row featured-item text-secondary-emphasis mt-4 mb-3 px-3 py-4">
        <a href={{ project.url | relative_url }} class="stretched-link"></a>
        <div class="col-lg-4 d-none d-lg-flex justify-content-center align-items-center">
          {% assign img_src = project.img_src | prepend: "/assets/img/proj-previews/" %}
          <img src="{{ img_src | relative_url }}" 
               class="img-fluid rounded mb-4 mb-lg-0 shadow" 
               alt="{{ project.img_alt }}">
        </div>
        <div class="col-lg-8 d-flex flex-column justify-content-center align-items-start">
          <div>
            <p class="fs-3 fw-bold mb-0">{{ project.title }}</p>
            {% assign shortened_date = project.date | date_to_long_string | split: " " | shift | join: " " %}
            <p class="fw-light mt-0">{{ shortened_date }}</p>
          </div>
          <p class="mb-5 pe-5 pt-1">{{ project.desc }}</p>
          <div class="fs-5">
            {% for icon in project.icons %}
              &nbsp;<span class="{{ icon }}"></span>&nbsp;
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>

<!-- Project history -->
<section class="container main-section">
  <h2 class="site-heading text-center">Project History</h2>
  <div class="row row-cols-1 row-cols-xl-2 mx-auto my-3 d-flex justify-content-center">
    {% for project in all_projects %}
      <div class="col-11 col-xl-5 m-3 ps-3 pe-4 py-3 project-item">
        <a href={{ project.url | relative_url }} class="stretched-link"></a>
        <div>
          {% assign shortened_date = project.date | date_to_string | split: " " | shift | join: " " %}
          <p class="fs-5 fw-bold mb-0">{{ project.title }}</p>
          <p><small class="fw-light text-body-secondary">{{ shortened_date }}</small></p>
        </div>
        <p>{{ project.desc }}</p>
        <div class="fs-5">
          {% for icon in project.icons %}
            &nbsp;<span class="{{ icon }}"></span>&nbsp;
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
</section>