---
title: Project Work
---

<!-- Helper variables -->
{% assign featured_projects = site.projects | where: "featured", true | sort: date | reverse %}
{% assign all_projects = site.projects | sort: date | reverse %}

<!-- Page heading -->
<div class="container-fluid bg-dark fg-light page-heading mb-0 py-5">
  <h1 class="h1 fw-bold text-center">{{ page.title }}</h1>
</div>

<!-- Featured projects -->
<section class="container-fluid main-section">
  <h2 class="{{ site.subheading }}">Featured Projects</h2>
  <div class="container d-flex flex-column align-items-center my-4">
    {% for project in featured_projects %}
      <div class="row row-project-featured">
        <div class="col-md-4 d-flex justify-content-center align-items-center">
          <img src="{{"/assets/img/proj-previews/" | relative_url}}{{ project.img_src }}" class="img-fluid rounded mb-4 mb-md-0" alt="{{ project.img_alt }}">
        </div>
        <div class="col-md-8">
          <div class="d-flex justify-content-between">
            <div>
              <h4 class="fw-bold mb-0">{{ project.title }}</h4>
              {% assign shortened_date = project.date | date_to_string | split: " " | shift | join: " " %}
              <p class="text-body-secondary mt-0 mb-2">Last updated {{ shortened_date }}</p>
            </div>
            <ul class="list-unstyled text-end fs-5">
              {% for skill in project.skills %}
                <li class="badge bg-primary pill-rounded fw-normal">{{ skill }}</li>
              {% endfor %}
            </ul>
          </div>
          <p class="fs-5">{{ project.description }}</p>
          <a href={{ project.url | relative_url }} class="btn btn-outline-primary fs-5 mt-2">Project Page</a>
        </div>
      </div>
    {% endfor %}
  </div>
</section>

<!-- Project history -->
<section class="container-fluid main-section">
  <h2 class="{{ site.subheading }}">Project History</h2>
  {% for project in all_projects %}
  {% endfor %}
</section>