---
title: External Resources
subheading: "h2 fw-bold mb-1 pt-0"
---

<!-- Page heading -->
<div class="container-fluid bg-dark fg-light page-heading mb-2 py-5">
  <h1 class="h1 fw-bold text-center">External Resources</h1>
</div>

<!-- Introduction -->
<section class="container-fluid section-resources mb-4 pb-2">
  <h2 class="{{ page.subheading }}">Introduction</h2>
  <p>Throughout my personal journey in the world of computer science, I have made use of all sorts of online resources. Whether it be to learn, to practice, or oftentimes both, these resources equipped me with a more powerful mental toolkit than I would have had otherwise. I thought it only fair to share these resources and spread the love!</p>
</section>

<!-- Resources by section -->
{% for resource_type in site.data.resources %}
  <section class="container-fluid section-resources mb-4 pb-2">
    <h2 class="{{ page.subheading }}">{{ resource_type.title }}</h2>
    <p class="fs-5 fw-light mt-0 mb-4">{{ resource_type.subtitle }}</p>
    <div class="row row-cols-1">
      {% for resource in resource_type.resources %}
        <div class="col mb-4">
          <p class="fs-5 fw-bold my-0">{{ resource.name }}</p>
          <p class="mt-0 mb-2">{{ resource.blurb }}</p>
          <p class="my-0">Links:</p>
          <ul>
            {% for link in resource.links %}
              <li>
                <a class="external-link" href={{ link.href }}>
                  {{ link.name }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
  </section>
{% endfor %}