---
title: External Resources
---

<!-- Page heading -->
<div class="container-fluid bg-dark fg-light page-heading mb-0 py-5">
  <h1 class="h1 fw-bold text-center">Helpful Resources</h1>
</div>

<!-- Resources by section -->
{% for resource_type in site.data.resources %}
  <section class="container-fluid main-section">
    <h2 class="{{ site.subheading }}">{{ resource_type.title }}</h2>
    <p class="fs-5 fw-light mt-0 mb-4">{{ resource_type.subtitle }}</p>
    <div class="row row-cols-1">
      {% for resource in resource_type.resources %}
        <div class="col mb-3">
          <p class="fs-5 fw-bold my-0">{{ resource.name }}</p>
          <p class="mt-0 mb-2">{{ resource.blurb }}</p>
          <p class="mb-0">Links:</p>
          <ul>
            {% for link in resource.links %}
              <li>
                <a class="external-link" href={{ link.href }}>
                  {{ link.name }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
  </section>
{% endfor %}