---
# Title variants
title: Telephone Number Validator
slug: telephone-number-validator

# Key information
date: 2023-09-14
desc: "JavaScript implementation of an algorithm that validates US telephone numbers."
type: "freeCodeCamp Certification Project"
related: "FCC JS Algorithms"

# Icons
icons:
  - "fa-brands fa-free-code-camp"
  - "fa-brands fa-js"

# Preview image metadata
img_src: "preview-js-logo.png"
img_alt: "Logo for the JavaScript programming language"

# Skills learned
skills:
  - JavaScript

# Direct link metadata
link_href: "https://codepen.io/DanielTheFletch/pen/mdaMybq?editors=0012"
link_site: "CodePen"
---

<!-- Description and details -->
<section class="container-fluid main-section">
  <h2 class="{{ site.subheading }}">Project Details</h2>
  <p class="fs-5 fw-light">{{ page.desc }}</p>
  <p>Regular expressions are awesome.</p>
  <p>They were certainly useful for this project, at the very least. Using regular expressions in conjunction with the&nbsp;&nbsp;<code>str</code>&nbsp;&nbsp;member function&nbsp;&nbsp;<code>search</code>&nbsp;,&nbsp;&nbsp;I managed to design a solution to the telephone number problem in just a handful of lines!</p>
  <p class="mb-1">The CodePen link above will open an in-browser code editor and console. Tinkering at the console will enable you to interface with the&nbsp;&nbsp;<code>telephoneCheck</code>&nbsp;&nbsp;function I implemented. Below are some of my personal friends' and family members' phone numbers to try for testing:</p>
  <ul class="mb-4">
    <li><span class="bg-dark fg-light fw-bold">&nbsp;&nbsp;REDACTED&nbsp;&nbsp;</span></li>
    <li><span class="bg-dark fg-light fw-bold">&nbsp;&nbsp;REDACTED&nbsp;&nbsp;</span></li>
    <li><span class="bg-dark fg-light fw-bold">&nbsp;&nbsp;REDACTED&nbsp;&nbsp;</span></li>
  </ul>
  <p class="fw-bold mb-1">Relevant links:</p>
  <ul>
    <li><a class="external-link" href="https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/javascript-algorithms-and-data-structures-projects/telephone-number-validator">Telephone Number Validator project specifications</a></li>
    <li><a class="external-link" href="https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/">JavaScript Algorithms & Data Structures certification track</a></li>
  </ul>
</section>

<!-- Related projects -->
<section class="container-fluid main-section">
  <h2 class="{{ site.subheading }}">Related Projects</h2>
  <p class="fs-5 fw-light">This is certification project <span class="fw-bold">4 of 5</span> in the <a class="external-link" href="https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/">JavaScript Algorithms and Data Structures track</a> at freeCodeCamp. Each of my project submissions in this track is linked below.</p>
  <div class="row row-cols-1 row-cols-xl-2 mx-2 my-3">
    {% assign related_projects = site.projects | where: "related", "FCC JS Algorithms" | sort: date %}
    {% for project in related_projects %}
      <div class="col-11 col-xl-5 mx-auto ms-xl-0 me-xl-5 my-2 ps-3 pe-4 py-3 project-item">
        <a href={{ project.url | relative_url }} class="stretched-link"></a>
        <div class="d-flex justify-content-between align-items-start">
          <div>
            {% assign shortened_date = project.date | date_to_string | split: " " | shift | join: " " %}
            <p class="fs-5 mb-0">{{ project.title }}</p>
            <p><small class="fw-light text-body-secondary">{{ shortened_date }}</small></p>
          </div>
          <div class="fs-4 text-center">
            {% for icon in project.icons %}
              &nbsp;<span class="{{ icon }}"></span>&nbsp;
            {% endfor %}
          </div>
        </div>
        <p>{{ project.desc }}</p>
      </div>
    {% endfor %}
  </div>
</section>