<div class="container-fluid bg-primary-subtle border-top border-primary border-3 h-auto mb-0 px-3 py-5">
  <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 text-center text-md-start">

    <!-- Site information -->
    <div class="col col-xl-5 my-2" id="footer-site-info">
      <ul class="footer-item-list">
        {% assign info = site.data.footer.site-info %}
        <span class="footer-title-info">
          {{ info.author.prefix }} {{ info.author.phrase }}
        </span>
        <li class="footer-item-info">
          {{ info.version.prefix }} v{{ info.version.phrase }}.
        </li>
        <li class="footer-item-info">
          {{ info.license.prefix }}
          <a class="footer-link-info" href={{ info.license.link }}>{{ info.license.phrase }}</a>.
        </li>
        <li class="footer-item-info">
          {{ info.repository.prefix }}
          <a class="footer-link-info" href={{ info.repository.link }}>{{ info.repository.phrase }}</a>.
        </li>
        <li class="footer-item-info">
          {{ info.host.prefix }}
          <a class="footer-link-info" href={{ info.host.link }}>{{ info.host.phrase }}</a>.
        </li>
      </ul>
    </div>

    <!-- Site links (same as navigation) -->
    <div class="col col-xl-2 my-2" id="footer-site-links">
      <ul class="footer-item-list">
        <span class="footer-title">Site Links</span>
        {% for item in site.data.navigation %}
          <li class="footer-item">
            <a href={{ item.link | relative_url }} class="footer-link">
              {{ item.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>

    <!-- Technology used -->
    <div class="col col-xl-2 my-2" id="footer-technology">
      <ul class="footer-item-list">
        <span class="footer-title">Technologies Used</span>
        {% for item in site.data.footer.technology %}
          <li class="footer-item">
            <a href={{ item.link | relative_url }} class="footer-link">
              {{ item.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>

    <!-- Contact information -->
    <div class="col col-xl-2 my-2" id="footer-contact">
      <ul class="footer-item-list">
        <span class="footer-title">Primary Contact</span>
        {% for item in site.data.footer.contact %}
          <li class="footer-item">
            <a href={{ item.link | relative_url }} class="footer-link">
              {{ item.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>

  </div>
</div>