<section class="container main-section">
  <h2 class="site-heading">Related Projects</h2>

  {% assign related = page.related %}
  {% assign key = page.related_key %}

  <p class="mt-2">This is certification project <span class="fw-bold">{{ key }} of 5</span> in the <a class="external-link" href="https://www.freecodecamp.org/learn/2022/responsive-web-design/">{{ related }} track</a> at freeCodeCamp. Each of my project submissions in this track is linked below.</p>
  <div class="row row-cols-1 row-cols-xl-2 my-3">
    {% assign related_projects = site.projects | where: "related", related | sort: "related_key" %}
    {% for project in related_projects %}
      <div class="col-11 col-xl-5 m-3 ps-3 pe-4 py-3 project-item">
        <a href={{ project.url | relative_url }} class="stretched-link"></a>
        <div>
          {% assign shortened_date = project.date | date_to_string | split: " " | shift | join: " " %}
          <p class="fs-5 fw-bold mb-0">{{ project.title }}</p>
          <p><small class="fw-light text-body-secondary">{{ shortened_date }}</small></p>
        </div>
        <p>{{ project.desc }}</p>
        <div class="fs-5">
          {% for icon in project.icons %}
            &nbsp;<span class="{{ icon }}"></span>&nbsp;
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
</section>