/* Main stylesheet */


* {
    box-sizing: border-box;
    font-family: $poppins;
}

section {
    padding-bottom: $spacer;
    padding-top: ($spacer * 1.5);
}


/* Navigation and footer */
.navbar-brand {
    text-shadow: 0.1rem 0.1rem 0.25rem $black;
}

.active, .inactive:hover {
    border-bottom: 0.125rem ridge $white;
    text-shadow: 0.05rem 0.05rem 0.175rem $black;
}

.footer-item {
    font-size: 0.875rem;
    margin: 0 0 0.15rem 0;
    padding: 0;
}

.footer-item-info {
    font-size: 0.95rem;
    margin: 0 0 0.375rem 0;
    padding: 0;
}

.footer-item-list {
    list-style-position: outside;
    list-style-type: none;
    font-weight: 400;
}

.footer-link {
    color: $black;
    text-decoration: none;
}

.footer-link-info {
    color: $black;
}

.footer-link:hover, .footer-link:active, .footer-link-info:hover, .footer-link-info:active {
    color: $link-color;
    text-decoration: underline;
}

.footer-title, .footer-title-info {
    display: block;
    font-weight: 300;
    margin-bottom: 0.5rem;
}

.footer-title {
    font-size: 1.125rem;
}

.footer-title-info {
    font-size: 1.25rem;
}


/* Foregrounds and backgrounds */
.bg-black {
    background-color: $black;
}

.fg-white {
    color: white;
}


/* Primary contact info */
.contact-item {
    color: $white;
    font-family: $titillium-web;
    font-size: 2.3rem;
    font-weight: bolder;
    text-decoration: none;
    
    transition-duration: 0.25s;
    transition-property: color, border-bottom;
    transition-timing-function: ease-out;
}

.contact-item:hover {
    border-bottom: 0.275rem groove $link-color;
    border-radius: 0.25rem;
    color: $link-color;

    transition-duration: 0.25s;
    transition-property: color, border-bottom;
    transition-timing-function: ease-in;
}