/* SCSS variables and Bootstrap overrides */

// Colors
$black:             #0D0C1D;
$link-color:        #2274A5;
$periwinkle:        #B9B8D3;
$platinum:          #D7DEDC;
$primary:           #8C001A;
$secondary:         #990033;

// Fonts
$poppins:           "Poppins", serif;
$titillium-web:     "Titillium Web", sans-serif;