/* SCSS variables and Bootstrap overrides */


// Standard color overrides
$white:         #F7F7F7;


// Color theme overrides
$primary:       #1A659E;
$secondary:     #3AAFB9;
$success:       #1A936F;
// $info:          $cyan;
// $danger:        $red;


// Custom color theme variables


// <body> element overrides
$body-color:        #1B1B1B;
$body-bg:           $white;
/*
880d1e-dd2d4a-f26a8d-f49cbb-cbeef3
*/