/* SCSS variables and Bootstrap overrides */

// Color scheme
$dark:              #0D0C1D;
$light:             #EFF7FF;
$primary:           #8C001A;
$secondary:         #007991;
$tertiary:          #2660A4;

// Fonts
$poppins:           "Poppins", serif;
$titillium-web:     "Titillium Web", sans-serif;