<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Link custom CSS -->
    <link href={{"/assets/css/styles.css" | relative_url}} rel="stylesheet" />

    <!-- Site metadata -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Dynamic page title -->
    <title>{{ page.title }}</title>
  </head>

  <body>
    <!-- Navigation -->
    <header>
      {% include navigation.html %}
    </header>

    <!-- Page content -->
    <main>
      {{ content }}
    </main>

    <!-- Footer -->
    <footer>
      {% include footer.html %}
    </footer>
  </body>
</html>