---
layout: default
---

<!-- Project heading -->
<div class="container-fluid bg-dark fg-light text-center page-heading mb-5 mt-0 py-5">
  <div class="container">
    <h1 class="h1 fw-bold mb-2">{{ page.title }}</h1>
    {% assign shortened_date = page.date | date_to_long_string | split: " " | shift | join: " " %}
    <p class="mb-1 mt-0"><i class="fa-solid fa-clock"></i>&nbsp;&nbsp;Last updated {{ shortened_date }}</p>
    <p class="mb-0 mt-1"><i class="fa-solid fa-box-archive"></i>&nbsp;&nbsp;{{ page.type }}</p>
  </div>
</div>

<!-- Project summary -->
<div class="container-fluid main-section mb-0 pb-5">
  <div class="row g-0 d-flex justify-content-around">
    <div class="col-md-4 mb-3 d-flex justify-content-center align-items-center">
      <div class="ratio ratio-16x9">
        <img src="{{ page.img_src | prepend: "/assets/img/proj-previews/" | relative_url }}"
             class="img-fluid project-thumbnail" 
             alt="{{ page.img_alt }}">
      </div>
    </div>
    <div class="col-md-6 border-top border-bottom border-3 border-primary px-2 py-4">

      <!-- Developer credits -->
      <p class="fw-bold fs-4 mb-1">Developer Credits</p>
      <ul class="list-unstyled mb-3 pb-3 border-bottom border-subtle">
        {% if page.team %}
          <li class="mb-1 mt-0"><i class="fa-solid fa-users"></i>&nbsp;&nbsp;Developed by {{ page.team }}</li>
          <li class="mb-0 mt-1"><i class="fa-solid fa-id-badge"></i>&nbsp;&nbsp;Served as {{ page.role }}</li>
        {% else %}
          <li class="my-0"><i class="fa-solid fa-user"></i>&nbsp;&nbsp;Developed by Daniel Fletcher</li>
        {% endif %}
      </ul>

      <!-- Direct link -->
      <p class="fw-bold fs-4 mb-1">Project Link</p>
      <p class="fs-5 mb-0">
        <a class="external-link text-decoration-none" href={{ page.link_href }} target="_blank">
          <span class="text-decoration-underline">View project on {{ page.link_site }}</span>
          <i class="fa-solid fa-up-right-from-square"></i>
        </a>
      </p>
      <p class="fw-light mb-3 pb-3 border-bottom border-subtle">Link will open in a new tab.</p>

      <!-- Skills -->
      <p class="fw-bold fs-4 mb-1">Skills & Technologies</p>
      <ul class="list-unstyled fs-5">
        {% for skill in page.skills %}
          <li class="badge bg-primary pill-rounded fw-normal">{{ skill }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<!-- Project page content -->
{{ content }}